*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans",sans-serif;
}

.heading-of-blogpage{
    display: flex;
    margin-top: 8%;
    height: 50vh;
}

.blg-hd-div{
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
}

.heading-of-blogpage > img{
    position: absolute;
    right: 18vw;
}

.blg-hd-div > ul li{
    color: #41447B    ;
    padding-right: 10px;
}

.blg-hd-div > ul{
    display: flex;
}
.blg-hd-div > ul > a{
    text-decoration: none;
    color: #41447B;
    margin-right: 20px;
}

.blg-hd-div > h1 {
    text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
    color: #41447b;
    font-weight: 700;
    margin-top: 20px;
    font-size: 50px;
    line-height: 62px;
}
.blogs-section{
    display: flex;
}

.single-blog-div{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 2.5%;
    margin-bottom: 100px;
}

.single-blog-div > h2{
    text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
font-size: 33px;
color: #41447b;
font-weight: 700;
margin-bottom: 10px;
}
.single-blog-div >img{
    margin: 10px 0;
}

.single-blog-div > h2 > span {
    color: #b72851;
}
.seo-ke-liye-div{
    display: flex;
    margin-top: 100px;
}

.seo-ke-liye-div > div{
    margin-top: 80px;

}

.seo-ke-liye-div > img{
    margin:  0;
    margin-right: 50px;

}
.seo-ke-liye-div > div > h2{
    text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
font-size: 33px;
color: #41447b;
font-weight: 700;
margin-bottom: 10px;
}

.seo-ke-liye-div > div > p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
    color: #41447B;
}

.seo-ke-liye-div > div > h2 > a{
    text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
font-size: 33px;
color: #41447b;
font-weight: 700;
margin-bottom: 10px;
    
    text-decoration: none;
    border-bottom: 1px solid #41447B;
}

.single-blog-div > p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
    color: #41447B;
}


.single-blog-div > p > a{
   
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    color: #41447B;
    border-bottom: 1px solid #41447B;
}
 
.single-blog-div > h2 > a{
    text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
font-size: 33px;
color: #41447b;
font-weight: 700;
margin-bottom: 10px;
    
    text-decoration: none;
    border-bottom: 1px solid #41447B;
}
.single-blog-div > ul > li > a{
   
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    color: #41447B;
    border-bottom: 1px solid #41447B;
}
 
.single-blog-div > span > a {
    text-decoration: none;
    color: #41447B;
    font-weight: bold;
    border: 2px solid #41447B;
    padding: 15px 40px;
    display: flex;
    width: 25%;
    justify-content: space-between;
}
.single-blog-div > blockquote {
    padding: 30px;
    position: relative;
    font-size: 20px;
    line-height: 32px;
    font-style: italic;
    margin: 40px 0;
    background: #fafafb;
    color: #41447B;
}
.single-blog-div  ul {
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
    color: #41447B;
    margin-left: 2.5%;
}

.blogs-div-two > .first-info-blog-div{
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
    padding: 20px  40px ;
    color: #fff;
    background-color: #41447B;
    width: 30vw;
    vertical-align: middle;
}
.blogs-div-two > .first-info-blog-div > i{
    margin-left: 18px;
}
.second-info-blog-div{
   margin: 60px 0px 40px 50px;
}

.second-info-blog-div > h1{
    color: #41447B;
}

.second-info-blog-div > p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
    color: #41447B;
}

.recent-post {
    display: flex;
    margin: 10px 0;
    vertical-align: middle;
    align-items: center;
}

.recent-post > a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
font-size: 17px;
color: #41447b;
font-weight: 600;
margin-left: 5px;
}

.dot-dot-image{
    display: block;
}
.single-blog-div > h4 {
    font-size: 22px;
color: #41447b;
line-height: 32px;
text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
    color: #41447b;
    font-weight: 700;

}

.single-blog-div > h4 > a {
    outline: 0;
    text-decoration: underline;
    font-size: 22px;
color: #41447b;

}






/* responsive for mobile */
@media screen and (max-width: 480px) {
    .dot-dot-image{
        display: none;
    }
    .blg-hd-div > ul {
        margin-top: 40px;
        font-size: 14px;
    }

    .blg-hd-div > h1 {
        font-size: 30px;
    }
    .heading-of-blogpage {
        height: 29vh;
    }
    .blogs-section {
        flex-direction: column;
    }
    .single-blog-div {
        width: 92vw;
    }
    .single-blog-div > h2 {
        font-size: 25px;
    }
    .single-blog-div > p {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 13px;
    }
    .single-blog-div > span > a {
        padding: 9px 14px;
        font-size: 16px;
        width: 38%;
    }
    .first-info-blog-div > h3{
        font-size: 23px;
    }

    .blogs-div-two  >  .first-info-blog-div{  
        margin-left: 8px;
        padding: 12px 11px;
        width: 95vw;
    }
    .first-info-blog-div {
        vertical-align: middle;
    }
    .blogs-div-two > .first-info-blog-div > i {
        margin-left: 14px;
    }
    .second-info-blog-div {
        margin: 24px 0px 40px 12px;
    }
    .second-info-blog-div > h1 {
        font-size: 23px;
    }
    .second-info-blog-div > p {
        margin-top: 14px;
        font-size: 17px;
        line-height: 29px;
        margin-bottom: 53px;
        color: #41447B;
    }

    .single-blog-div > blockquote {
        padding: 15px;
        font-size: 18px;
        line-height: 23px;
    }
    
    .single-blog-div ul {
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 33px;
        color: #41447B;
        margin-left: 5.5%;
    }
    .single-blog-div > h2 > a {
       
        font-size: 25px;
       
    }
    .seo-ke-liye-div {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .seo-ke-liye-div > img {
        margin: 0;
        margin-right: 0;
    }
  }
/* End responsive for mobile */
