*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans",sans-serif;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(/img/1476.gif) no-repeat center center;
    z-index: 99999;

    top: 31px;
}
/* start navbar  */


#navbar-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    transition: 0.6s;
    z-index: 10000;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 2% 0;
}
.sticky {
    background: rgb(255, 255, 255);
  }
.navbar-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 6%;
}
.menu-toogle{
    margin-left: 5%;
    margin-right: 7%;
    cursor: pointer;
}
.navbar-p{
    margin: 0 25%;
}
header nav {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 110vh;
    z-index: 1000;
    background: #fff;
    /* top: 100px; */
   
    /* top: 57px; */
    left: 0;
    transition: 0.5s;
    padding: 10px 0px;

  }
  header nav.active {
    left: -100%;
  }
  header nav ul {
    display: block;
    text-align: left;
  
  }

header nav ul img{
  display: block;
margin-top: 10px;
margin-bottom: 20px;
cursor: pointer;
}

header ul {
    padding-left: 3%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li ,header ul img {
    margin: 10px 0px;
  position: relative;
  list-style: none;
}
header ul li a ,header ul img {
  position: relative;
  margin: 0 25px;
  text-decoration: none;
  transition: 0.6s;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  
  color: #171635;

}

@media screen and (max-width: 580px){
    .mobile{
        display: none;
    }

    .menu-toogle {
        margin-left: 7%;
        margin-right: 27%;
        cursor: pointer;
        margin-top: 3%;
    }
}

/* end navbar */

/* home page */
.home-page-section{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.home-page-section > .home-section-content {
    width: 80%;
    margin-left: 70px;
    margin-top: 60px;
}
.home-page-section > a > img{
    position: absolute;
    right: 3%;
   top: 150px;
}
.home-page-section > video{
    width: 100%;
}
.home-section-content{
    display: flex;
    flex-direction: column;
}
.home-section-content > h1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 120.5%;
color: #B72851;

}

.home-section-content > p{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 139.06%;
/* or 25px */


color: #41447B;

}
/*end home page */




/* services section */
.home-services-section{
    margin: 50px 0;
}
.home-serv-div1{
    display: flex;
    align-items: center;
    margin-left: 13vw;
    vertical-align: middle;
    /* flex-wrap: wrap; */
}
.home-serv-div1 > h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    margin-bottom: 5px;
    
    color: #121212;
}

.home-serv-div1 > img{
    padding-left: 1vw;
 width: 15vw;
 height: 0.2vw;
 
}

.home-serv-div2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.single-div-in-service {
    margin: 20px 20px;
}
.single-div-in-service-img{
    width: 350px;
height: 150px;
}

.single-div-in-service > h2{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 120%;
margin: 5px 0;
margin-bottom: 30px;
color: #B72851;
}

.single-div-in-service > a{
    
    text-decoration: none;
    font-family: Poppins;
font-size: 14px;
border: 2px solid #41447B;
padding: 10px 20px;
color: #41447B;
margin-top: 20px;
}

.single-div-in-service > a:hover{
border: 2px solid #B72851;
color: #B72851;

}


/* End services section */


/* Partner section */

.home-partner-section{
    margin: 100px 0;

}

.home-partner-div1{
    display: flex;
    align-items: center;
    margin-left: 11vw;
    vertical-align: middle;
    /* flex-wrap: wrap; */
}
.home-partner-div1 > h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    margin-bottom: 5px;
    
    color: #121212;
}

.home-partner-div1 > img{
    padding-left: 1vw;
 width: 15vw;
 height: 0.2vw;
 
}
.home-partner-paragraph{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 169.06%;
padding: 5px 0 10px 0;
margin: 0 12vw;
color: #121212;
}

.home-partner-div2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
/* margin: 0 10vw; */

}

.home-partner-div2 > img{
    margin: 10px;

}
/* End Partner section */



.home-Process-section{
    margin: 100px 0;

}

.home-Process-div1{
    display: flex;
    align-items: center;
    margin-left: 11vw;
    vertical-align: middle;
    /* flex-wrap: wrap; */
}
.home-Process-div1 > h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    margin-bottom: 5px;
    
    color: #121212;
}

.home-Process-div1 > img{
    padding-left: 1vw;
 width: 15vw;
 height: 0.2vw;
 
}

.home-Process-paragraph{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 169.06%;
padding: 5px 0 10px 0;
margin: 0 12vw;
color: #121212;
}



/* testimonal */

.home-Testimonials-section{
    margin: 100px 0;

}

.home-Testimonials-div1{
    display: flex;
    align-items: center;
    margin-left: 11vw;
    vertical-align: middle;
    /* flex-wrap: wrap; */
}
.home-Testimonials-div1 > h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    margin-bottom: 5px;
    
    color: #121212;
}

.home-Testimonials-div1 > img{
    padding-left: 1vw;
 width: 15vw;
 height: 0.2vw;
 
}

/* end testimonals */





/* footer section */
.footer-section-1{
    margin-top: 8vw;
}

.footer-section-1 > .footer-img-1{
   position: relative;
   left: 60vw;
   
}

.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-div > h1{
    margin-top: 20px;
    color: #41447B;
}

.footer-div > h1 > span{
    color: #B72851;
}
.footer-div > a{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #41447B;
    padding: 15px 25px;
display: flex;
}

.footer-div > a > img{
    width: 23%;
    padding-left: 15px;
}

.footer-div > a:hover{
    color: white;
    background: #41447B;
}


.footer-div > a > img{
    color: white;
}

.footer-img-2{
    position: absolute;
    right: 0;
}

.footer-img-3{
    position: relative;
    right: 30vw;
    margin-top: -35px;
}


.number-mail{
    display: flex;
}
.number-mail > div{
    display: flex;
    align-items: center;
}

.number-mail > div > p{
    color: #B72851;
    font-size: 18px;
}


.number-mail > div > a{
    color: #41447B;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.div-2-of-number{
    margin-left: 25px;
}

.number-mail > div {
    margin-left: 5px;
}

.number-mail > p {
    margin-left: 5px;
}
.number-mail > a{
    margin-left: 5px;
}

.number-mail > img {
    margin-left: 5px;
}
.footer-section-2{
    background: url(img/bg-image-2.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* background-color: #fff; */
}

.div-in-second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%   0px  7% 0px;
}
.div-in-second-section > a > img{
    width: 90%;
    padding: 0 55px;
}


.div-in-second-section > a >  .twt-link{
    width:100% ;
}

.footer-bottom-section{
    display: flex;
    padding: 0 40px;
    padding-left: 135px;

}

.footer-bottom-section  > .get-in-touch-footer > h1{
    color: #41447B;
    font-size: 33px;
    margin-bottom: 19px;
    margin-left: 5px;
}

.footer-bottom-section  > .get-in-touch-footer > h1 > span{
        color: #B72851;
}



 
.footer-bottom-section  > .get-in-touch-footer > p {
    font-size: 15px;
    line-height: 18px;
    color: #41447B;
    margin-bottom: 30px;
}



.footer-bottom-section  > .get-in-touch-footer > form{
    margin-top: 40px;
    display: flex;
   
}
.footer-bottom-section  > .get-in-touch-footer > form > input{
    color: #41447B;
    width: 250px;
    height: 40px;
    padding: 0 15px;
    padding-bottom: 8px;
    font-size: 14px;
    background: 0 0;
    border: 1px solid #000000;
}

.footer-bottom-section  > .get-in-touch-footer > form > button{
background-color: #41447B;
    color: #ffffff;
    width: 250px;
    height: 40px;
    padding: 0 15px;
    padding-bottom: 8px;
    font-size: 18px;
    border: 1px solid #d3d3d3;
}
.permalinks-in-footer{
    display: flex;
    padding-left: 10%;
    border-left: 1px solid #41447B;
}

.permalinks-in-footer ul h1{

    font-size: 25px;
    color: #B72851;
    margin-bottom: 15px;
    font-weight: 700;
}

.permalinks-in-footer ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.permalinks-in-footer-ul-2{
   margin-left: 100px;
   margin-right: 50px;
}
.permalinks-in-footer ul a  li{
    margin-top: 10px;
    list-style: none;
    color: black;
}


.copyright-div-in-footer{
    display: flex;
    justify-content: space-between;
    
    color: #41447B;
    padding: 30px 40px;
}
.hr-in-footer{
color: #41447B;
padding: 0 40px;
width: 95%;
margin-top: 10px;

}
.copyright-div-in-footer  > h3 > a{
    text-decoration: none;
    color: black;

}
/* end foter section  */














/* responsive for mobile */

@media screen and (max-width: 580px) {

    .home-section-content > h1 {
       
        font-size: 30px;
       
    }
    .home-page-section > .home-section-content {
       
        margin-left: 23px;
       
    }
.home-Process-section Video{
    width: 97%;
}
    .home-page-section > a > img {
        position: absolute;
        right: 2%;
        width: 10%;
        top: 203px;
    }
    .home-Testimonials-section > center > img{
        display: none;
    }
.home-serv-div1{
display: flex;
flex-direction: column;
margin: 0px;
align-items: center;
margin-left: 10px;
}

.home-serv-div1 > h1 {
    font-size: 20px;
}
.single-div-in-service {
    margin: 10px 0px;
}
.home-serv-div2{
    padding: 10px 15px;
}
.single-div-in-service-img {
    width: 200px;
    height: 110px;
}
.single-div-in-service > h2{
    font-size: 17px;
    line-height: 74%;
    margin-bottom: 14px;
}
.single-div-in-service > a {
    font-size: 9px;
    padding: 5px 20px;
    margin-top: 7px;
}

.home-partner-div1 {
    display: flex;
    align-items: unset;
    margin-left: 0vw;
    flex-direction: column;
   margin-left: 20px;
}
.home-partner-div1 > h1 {
    font-size: 23px;
    line-height: 70%;
    margin-bottom: 5px;
}
.home-partner-paragraph {
    font-size: 14px;
    line-height: 123.06%;
    padding: 5px 0 10px 0;
    margin: 0 2vw;
}
.home-partner-div2 {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
     justify-content: unset; 
    /* margin: 0 0vw; */
}
.home-partner-section {
    margin: 15px 0;
}
.home-partner-div2 > img {
    width: 100px;
    height: 100px;
}
.home-Process-section {
    margin: 15px 0;
}

.home-Process-div1 {
    display: flex;
    align-items: unset;
    margin-left: 0vw;
    flex-direction: column;
   margin-left: 20px;
}
.home-Process-div1 > h1 {
    font-size: 23px;
    line-height: 70%;
    margin-bottom: 5px;
}
.home-Process-paragraph {
    font-size: 14px;
    line-height: 123.06%;
    padding: 5px 0 10px 0;
    margin: 0 2vw;
}


.home-Testimonials-section > center > img{
    display: none;
}

.home-Testimonials-section {
    margin: 15px 0;
}

.home-Testimonials-div1 {
    display: flex;
    align-items: unset;
    margin-left: 0vw;
    flex-direction: column;
   margin-left: 20px;
}
.home-Testimonials-div1 > h1 {
    font-size: 23px;
    line-height: 70%;
    margin-bottom: 5px;
}







.footer-section-1 > .footer-img-1 , .footer-img-2 ,  .footer-img-3{
    display: none;
}
.footer-section-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-mail {
    display: flex;
    flex-direction: column;
}
.number-mail > div > a {
    font-size: 17px;
}
.footer-call-msg{
    padding: 0 5px;
}
.number-mail > div > p {
    font-size: 15px;
}
.footer-div > a {
   
    font-size: 13px;
    padding: 9px 16px;
}
.div-in-second-section > a > img {
    width: 35%;
    padding: 0 0px;
}
.div-in-second-section > a > .twt-link {
    width: 64%;
}

.footer-bottom-section {
    padding: 0 6px;
    flex-direction: column;
}

.footer-bottom-section > .get-in-touch-footer > p {
    font-size: 18px;
    line-height: 18px;
    color: #41447B;
    margin-bottom: 16px;
}

.footer-bottom-section > .get-in-touch-footer > form {
    margin-top: 0px;
    flex-direction: column;
}

.footer-bottom-section > .get-in-touch-footer > form > input {
    width: 161px;
    height: 25px;
    padding: 0 15px;
    padding-bottom: 8px;
    font-size: 11px;
   
}

.footer-bottom-section > .get-in-touch-footer > form > button {
    width: 161px;
    height: 26px;
    font-size: 12px;
    margin-top: 10px;
}

.permalinks-in-footer {
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    border-left: 0px solid #41447B;
}

.permalinks-in-footer ul h1 {
    font-size: 19px;
    color: #B72851;
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: 700;
}
.permalinks-in-footer ul a li {
    color: black;
    margin-top: 4px;
    list-style: none;
    font-size: 14px;
}

.permalinks-in-footer-ul-2 {
    margin-left: 0px;
    margin-right: 0px;
}

.copyright-div-in-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #41447B;
    padding: 14px 3px;
}

.copyright-div-in-footer > p , .copyright-div-in-footer > h3{
    font-size: 15px;
}
  }

  #logoimg{
   
    width: 13%;
  }

  .testimonial-div{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 100px;
  }
  .innertestimonial{
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0px 30px;
      /* background-color: red; */
  }
  .innertestimonial:hover{
      background-color: #f6f6f8;
  }
  .innertestimonial-single {
      display: flex;
      
  }
  .testimonal-left >img{
    height: 125px;
  }
  .test-up-right {
    padding-left: 25px;
  }
  .test-up-right >p{
    line-height: 15px;
    display: inline-block;
    font-size: 13px;
    font-family: "DM Sans",sans-serif;
    color: #41447b;
    font-weight: 400;

  }
  .test-up-right >h4 {
    text-transform: capitalize;
    font-family: "DM Sans",sans-serif;
    color: #41447b;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
  }
  .starts {
    margin-top: 5px;
    content: "\A673";
    font-size: 36px;
    color: gold;
}
.testi-content {
    margin-top: 20px;
}
.testi-content >p{
    color: #41447b;
font-size: 15px;
line-height: 18px;
}

.home-partner-div2 img{
    height: 200px;
    width: 400px;
    margin: 20px;
}
@media screen and (max-width: 580px){
    #logoimg{
   
        width: 30%;
      }
      .home-section-content > p { 
          margin-top: 37px;
      }
      .testimonial-div,.innertestimonial-single{
          flex-direction: column;
      }
      .testimonial-div{
        padding: 0px ;
      }
      .innertestimonial{
          width: 100vw;
          margin-bottom: 60px;
      }
      .test-up-right{
          padding-left: 0px;
      }
      .home-partner-div2 img{
          margin: 5px;
      }
}

a{
    text-decoration: none;
}


/* cookies modal */

.wrapper {
    padding: 32px;
  }
  
  .cookie-container {
      padding-top: 50px;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #ffffff;
    color: #000000;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    z-index: 9999;
    transition: 400ms;
  }
  .cookie-container p {
    margin-top: 50px;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #000000;
  }
  
  .cookie-btn {
    background: #b72851;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 580px){
    .cookie-btn {
        background: #b72851;
        border: 0;
        color: #f5f6fa;
        padding: 12px 48px;
        font-size: 18px;
        margin-bottom: 74px;
        margin-top: 10px;
        border-radius: 8px;
        cursor: pointer;
    }
}
 